header {
  height: 100vh;
  padding-top: 100px;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.header_socials svg {
  font-size: 25px;
}

/* image header */

/* From Uiverse.io by ElSombrero2 */
.card {
  width: 350px;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  margin: 20px auto 0 auto;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
}
.card .me {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
}
.card .me img {
  height: 100%;
}

.card .content {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  margin: 5px;
  width: 350px;
  height: 440px;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  opacity: 1;
  content: " ";
  position: absolute;
  display: block;
  width: 200px;
  height: 460px;
  background: linear-gradient(#ff2288, var(--color-primary));
  transition: opacity 300ms;
  animation: rotation_9018 8000ms infinite linear;
  animation-play-state: paused;
  animation-play-state: running;
}

.card::after {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  position: absolute;
  content: " ";
  display: block;
  width: 460px;
  height: 460px;
  background: #3d3c3c33;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header_container h4 {
  font-size: 25px;
}

/* scroll down */

.scroll_down {
  font-size: 30px;
  position: absolute;
  right: -35px;
  bottom: 80px;
  font-weight: 300;
  animation: scrollDown 2s ease-in-out infinite;
}
.scroll-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    /* transform: translateY(12px); */
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media (max-width: 600px) {
  header {
    height: auto;
    padding-top: 20px;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
  .header_container .card {
    max-width: 300px;
    width: 350px;
  }
  h1 {
    font-size: 2rem;
  }
  h4{

  }
}
